<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Top2000.Properties.Settings.Top2000ConnectionString"
        connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=MusicSales;Persist Security Info=True;User ID=i5ao1;Password=test"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>